.containerUsers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 300px;
}

.title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: auto;
  text-align: center;
  padding: 30px;
}

.filter {
  display: flex;
  justify-content: space-around;
}
.filter button {
  padding: 10px;
  border: none;
  border-bottom: 2px solid blue;
  background-color: transparent;
}

.divUserList {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
  background-color: #f0f7f2;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  margin: 20px;
  flex-grow: 1;
}
.divUserList .userCompImg {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px;
}
.divUserList .userNameList {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #216c3f;
}
.divUserList .userNameAge {
  margin-top: 5px;
  font-size: 1rem;
  color: #216c3f;
}
.divUserList .userNameCont {
  margin-top: 5px;
  font-size: 1rem;
  color: #216c3f;
}
.divUserList .userNameCont span {
  color: #0069cc;
  font-size: 1.4rem;
}
.divUserList .userButton {
  position: absolute;
  background-color: #cc3300;
  bottom: 5px;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.divUserList .userButton:hover {
  background-color: #a32900;
}

@media screen and (max-width: 765px) {
  .containerUsers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .divUserList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #f0f7f2;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 140px;
    margin: 20px;
  }
  .divUserList .userCompImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 20px;
  }
  .divUserList .userNameList {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #216c3f;
  }
  .divUserList .userNameAge {
    margin-top: 5px;
    font-size: 1rem;
    color: #216c3f;
  }
  .divUserList .userNameCont {
    margin-top: 5px;
    font-size: 1rem;
    color: #216c3f;
  }
  .divUserList .userNameCont span {
    color: #0069cc;
    font-size: 1.4rem;
  }
  .divUserList .userButton {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #cc3300;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  .divUserList .userButton:hover {
    background-color: #a32900;
  }
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 8px solid #77ff92;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    opacity: 0;
  }
}
img {
  cursor: pointer;
}/*# sourceMappingURL=users.component.css.map */