<button routerLink='/restaurants'>Volver</button>

<div>
    <form [formGroup]="restForm" (ngSubmit)="addRestaurant()">
        <div>
            <input type="text" placeholder="Nombre del restaurante" formControlName="name"/>
            <p *ngIf="(submited && restForm?.get('name')?.hasError('required'))">Es obligatorio rellenar este campo</p>
        </div>
        <div>
            <input type="text" placeholder="Imagen" formControlName="img"/>
            <p *ngIf="(submited && restForm?.get('img')?.hasError('required'))">Es obligatorio rellenar este campo</p>
        </div>
        <div>
            <input type="text" placeholder="Descripción" formControlName="description"/>
            <p *ngIf="(submited && restForm?.get('description')?.hasError('required'))">Es obligatorio rellenar este campo</p>
        </div>
        <div>
            <input type="text" placeholder="Ciudad" formControlName="city"/>
            <p *ngIf="(submited && restForm?.get('city')?.hasError('required'))">Es obligatorio rellenar este campo</p>
        </div>
        <div>
            <input type="text" placeholder="Valoración" formControlName="score"/>
            <p *ngIf="(submited && restForm?.get('score')?.hasError('required'))">Es obligatorio rellenar este campo</p>
        </div>
        <button>Añadir</button>
    </form>
    <div>
        <h4>Previsualización</h4>
        <div [ngStyle]="{width: '300px'}"  *ngIf="restaurant">
            <h4 class="mt-5">{{restaurant.name}}</h4>
            <img src="{{restaurant.img}}" alt="{{restaurant.name}}" width="300px" height="240"/>
            <p>{{restaurant.description}}</p>
            <p>{{restaurant.city}}</p>
            <p>Valoración: {{restaurant.score}}
                <ng-container *ngFor="let star of [].constructor(10); let i = index">
                    <i class="fa-regular fa-star" [ngClass]="{'fa-solid': i < restaurant.score}"></i>
                </ng-container>
            </p>
        </div>
    </div>
</div>


