.profile {
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  margin-top: 0;
}
.profile .profileName {
  color: black;
  padding: 20px;
  font-size: 24px;
}
.profile .profileImg {
  border: 2px solid lightgreen;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .profileEdad,
.profile .profileEmail {
  color: black;
  margin-top: 10px;
  font-size: 16px;
}
.profile .profileRestaurant {
  color: black;
  margin-top: 20px;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 30px;
  background-color: transparent;
  border: none;
  box-shadow: 0px 4px rgba(23, 99, 4, 0.381);
  transition: 0.3s ease-in-out;
}
.profile .activated {
  opacity: 0.4;
}
.profile .profile-ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding: 0% 10%;
}
.profile .profile-ul .profile-favorit {
  flex-grow: 1;
  background-color: #f8f5de;
  color: black;
  text-align: center;
  border: solid black 0.5px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  min-width: 350px;
  margin: 10px;
}
.profile .profile-ul .profile-favorit .favImage {
  border: 2px solid darkgreen;
  border-radius: 2px;
  margin-top: 10px;
}
.profile .profile-ul .profile-favorit .profileDescrip,
.profile .profile-ul .profile-favorit .profileCity,
.profile .profile-ul .profile-favorit .profileComment {
  color: darkgreen;
  margin-top: 5px;
  max-width: 250px;
}
.profile .profile-ul .profile-favorit .button-like {
  padding: 5px 10px;
  background-color: rgba(0, 128, 0, 0.343);
  border: 3px groove rgba(0, 128, 0, 0.188);
}
.profile .profile-ul .profile-favorit1 {
  background-color: #b0e4b0;
  color: black;
  text-align: center;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: 390px;
  margin: 8px;
}
.profile .profile-ul .profileScore {
  font-size: 21px;
  color: darkgreen;
}
.profile .profile-ul .commentScore1 {
  color: black;
  padding: 15px;
  margin-top: 10px;
  font-size: 18px;
}
.profile .profile-ul .commentScore {
  font-style: italic;
  font-size: 14px;
  margin-top: 10px;
  padding: 10px;
  border-bottom: solid black 1px;
}
.profile .profile-ul .creationDate,
.profile .profile-ul .actDate {
  font-size: 10px;
  letter-spacing: 0.5px;
}

img {
  cursor: pointer;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  min-height: 300px;
}

.lds-ripple div {
  position: absolute;
  border: 8px solid #77ff92;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    opacity: 0;
  }
}
.loader-div {
  margin: auto;
  text-align: center;
}/*# sourceMappingURL=profile.component.css.map */