<div class="loader-div">
  <div *ngIf="loaded" class="lds-ripple"><div></div><div></div></div>
</div>
<div class="profile" *ngIf="usuario">
  <h1 class="profileName">{{ usuario.name }}</h1>
  <img src="{{ usuario.img }}" alt="" width="200" class="profileImg">
  <h3 class="profileEdad">Edad: {{ usuario.age }}</h3>
  <h4 class="profileEmail">Email: {{ usuario.email }}</h4>
  <div>
    <button  (click)="favComTotggle()" class="profileRestaurant"  [ngClass]="{'': !favComments, 'activated': favComments}" >Tus restaurantes favorito:</button>
    <button  (click)="favRestTotggle()" class="profileRestaurant"  [ngClass]="{'': !favRests, 'activated': favRests}">  Tus comentarios:</button>
  </div>
  <ul *ngIf="favRests" class="profile-ul">
      <li class="profile-favorit" *ngFor="let fav of favorite">
        <h4 class="favNave">{{fav.name}} ({{fav.city}})</h4>
        <img routerLink='/comentarios/{{ fav.id }}/userComment' src="{{fav.img}}" alt="" width="200" class="favImage">
        <p class="profileDescrip">{{fav.description}}</p>
        <p class="profileCity"></p>
        <ul>
          <li *ngFor="let comment of fav.coments" class="profileComment">{{comment}}</li>
        </ul>
      </li>
    </ul>
  <ul *ngIf="favComments" class="profile-ul">
    <li class="profile-favorit1" *ngFor="let comentario of usuario.comments">
      <h4 class="profileScore">Puntuación: {{ comentario.score }}</h4>
      <p class="commentScore">{{ comentario.comments }}</p>
      <p class="actDate">Fecha del comentario: {{ comentario.updatedAt }}</p>
        <button *ngIf="usuario.name" class="btn-delete" (click)="deleteComment(comentario.id)">Borrar</button>

    </li>
  </ul>
</div>
