<div>
  <button routerLink='/restaurants'>Volver</button>
  <div>
      <form [formGroup]="restForm" (ngSubmit)="editRestaurant()">
          <div>
              <input type="text" placeholder="Nombre del restaurante" formControlName="nombre"/>
              <p *ngIf="(submited && restForm?.get('nombre')?.hasError('required'))">Es obligatorio rellenar este campo</p>
          </div>
          <div>
              <input type="text" placeholder="Imagen" formControlName="foto"/>
              <p *ngIf="(submited && restForm?.get('foto')?.hasError('required'))">Es obligatorio rellenar este campo</p>
          </div>
          <div>
              <input type="text" placeholder="Descripción" formControlName="descripcion"/>
              <p *ngIf="(submited && restForm?.get('descripcion')?.hasError('required'))">Es obligatorio rellenar este campo</p>
          </div>
          <div>
              <input type="text" placeholder="Ciudad" formControlName="ciudad"/>
              <p *ngIf="(submited && restForm?.get('ciudad')?.hasError('required'))">Es obligatorio rellenar este campo</p>
          </div>
          <div>
            <input type="text" placeholder="Puntuación" formControlName="puntos"/>
            <p *ngIf="(submited && restForm?.get('puntos')?.hasError('required'))">Es obligatorio rellenar este campo</p>
        </div>
          <button>Guardar cambios</button>
      </form>
  </div>
  <div *ngIf="restaurant">
      <img src="{{restaurant.foto}}" alt="{{restaurant.nombre}}"/>
      <h4>{{restaurant.nombre}}</h4>
      <p>{{restaurant.descripcion}}</p>
      <p>{{restaurant.ciudad}}</p>
      <p>Valoración: {{restaurant.puntos}}*</p> 
  </div>
</div>