<div class="edit-page">
    <div>
        <button class="edit-page-btn" routerLink='/restaurants'><i class="fa-solid fa-arrow-left-long fa-2xl" style="color: #2c7044;"></i></button>
    </div>
    <div class="edit-page-container">
        <form [formGroup]="restForm" (ngSubmit)="editRestaurant()" class="edit-form">
            <div *ngIf="usuario.admin">
                <i class="fa-solid fa-utensils"></i>
                <input type="text" placeholder="Nombre del restaurante" formControlName="name"/>
                <p *ngIf="(submited && restForm?.get('name'))">Es obligatorio rellenar este campo</p>
            </div>
            <div *ngIf="usuario.admin">
                <i class="fa-regular fa-image"></i>
                <input type="text" placeholder="Imagen" formControlName="img"/>
                <p *ngIf="(submited && restForm?.get('img'))">Es obligatorio rellenar este campo</p>
            </div>
            <div *ngIf="usuario.admin">
                <i class="fa-regular fa-image"></i>
                <input type="text" placeholder="Descripción" formControlName="description"/>
                <p *ngIf="(submited && restForm?.get('description'))">Es obligatorio rellenar este campo</p>
            </div>
            <div *ngIf="usuario.admin">
                <i class="fa-solid fa-earth-americas"></i>
                <input type="text" placeholder="Ciudad" formControlName="city"/>
                <p *ngIf="(submited && restForm?.get('city'))">Es obligatorio rellenar este campo</p>
            </div>
            <div *ngIf="usuario.admin">
                <i class="fa-regular fa-clock"></i>
                <input type="text" placeholder="Horario" formControlName="hours"/>
                <p *ngIf="(submited && restForm?.get('hours'))">Es obligatorio rellenar este campo</p>
            </div>
            <div *ngIf="usuario.admin">
                <i class="fa-solid fa-location-dot"></i>
                <input type="text" placeholder="Dirección" formControlName="address"/>
                <p *ngIf="(submited && restForm?.get('address'))">Es obligatorio rellenar este campo</p>
            </div>
            <div *ngIf="usuario.admin">
                <i class="fa-solid fa-phone"></i>
                <input type="text" placeholder="Teléfono de contacto" formControlName="phone"/>
                <p *ngIf="(submited && restForm?.get('phone'))">Es obligatorio rellenar este campo</p>
            </div>
            <div>
                <button *ngIf="usuario.admin" class="edit-form-btn">Guardar cambios</button>
                <!-- <button *ngIf="!usuario.admin && usuario.name">Añadir comentario</button> -->
            </div>
        </form>
        <div *ngIf="usuario.admin" class="edit-prev">
            <h4 class="edit-prev-h4">Previsualización</h4>
            <div  [ngStyle]="{width: '300px'}"  *ngIf="restaurant" class="edit-prev-content">
                <h4 class="edit-prev-title">{{restaurant.name}}</h4>
                <img src="{{restaurant.img}}" alt="{{restaurant.name}}" width="300px" height="240"/>
                <p class="edit-prev-des">{{restaurant.description}}</p>
                <p class="add-prev-city">{{restaurant.city}}</p>
                <p class="add-prev-city">{{restaurant.hours}}</p>
                <p class="add-prev-city">{{restaurant.address}}</p>
                <p class="add-prev-city">{{restaurant.phone}}</p>
            </div>
        </div>
    </div>
</div>