<button routerLink='/restaurants' class="button">Volver</button>
<div class="wrapContainer">
<div [ngStyle]="{width: '300px'}"  *ngIf="restaurant" class="divRestau">
    <h4 class="mt-5">{{restaurant.name}} ({{restaurant.city}})</h4>
    <p class="restHours">{{restaurant.hours}}</p>
    <p class="restAddress">{{restaurant.adress}}</p>
    <img src="{{restaurant.img}}" alt="{{restaurant.name}}" width="300px" height="240" class="imgRestau"/>
    <p class="restDescription">{{restaurant.description}}</p>
    <p class="restPhone">Llama al <span [ngStyle]="{color: 'blue'}" > {{restaurant.phone}}</span>  para reservar</p>
<p  *ngIf="averageRating" class="stars">{{averageRating}}
                <ng-container *ngFor="let star of [].constructor(10); let i = index">
                    <i class="fa-regular fa-star" [ngClass]="{'fa-solid': i < averageRating, 'red-star': averageRating < 6, 'green-star': averageRating >= 6}"></i>
                </ng-container>
            </p>
            <p  *ngIf="!averageRating" class="stars"> No hay puntuacion para este restaurante. ¡Se el primero!
            </p>
            
    <p class="lastUpdated">Ultima actualización: {{restaurant.updatedAt}}</p>
    <button (click)="addToFavorites()" class="buttonFav">Agregar a Favoritos</button>
    </div>
    <div class="comentariosGestion"> 
    <li class="profile-favorite" *ngFor="let res of restaurant.comments">
            <h4 class="restScore">Puntuación de usuario: {{ res.score }}</h4>
      <h4 class="userComment">Comentario:</h4>
      <p class="restComment">{{ res.comments }}</p>
      <p class="commentedOn">Comentado el: {{ res.updatedAt }}</p>
    </li>
</div>
    <p><button  *ngIf="usuario.admin" (click)="edit()" class="buttonAdmin">Modificar datos</button><button *ngIf="usuario.admin" (click)="delete()" class="buttonAdmin">Eliminar</button></p>   
    <!-- <button (click)="edit()">Añadir comentarios</button> -->
</div>
