<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="email">
        <input type="email" placeholder="Email" formControlName="email"/>
        <p *ngIf="(submited && loginForm?.get('email')?.hasError('required'))">El campo es requerido</p>
        <p *ngIf="(submited && loginForm?.get('email')?.hasError('pattern'))">No tiene formato válido</p>
    </div>
    <div>
    <input type="password" placeholder="Password" formControlName="password" class="password"/>
    <p *ngIf="(submited && loginForm?.get('password')?.hasError('required'))">El campo es requerido</p>
    <p *ngIf="(submited && loginForm?.get('password')?.hasError('pattern'))">No tiene formato válido</p>
    </div>
    <button class="loginButton">Entrar</button>   
</form>
