<div class="login-bg">
    <div *ngIf="submited" class="lds-ring"><div></div><div></div><div></div><div></div></div>
    <form *ngIf="!submited" [formGroup]="loginForm" (ngSubmit)="login()" class="form">
        <h3 class="form-h3">INICIA SESIÓN CON TU CUENTA DE RESTAUMANÍACO</h3>
        <div>
            <input type="email" placeholder="Email" formControlName="email" />
            <p *ngIf="subCorrect && loginForm?.get('email')?.hasError('required')">El campo es requerido</p>
            <p *ngIf="(subCorrect && loginForm?.get('email')?.hasError('pattern'))">No tiene formato válido</p>
        </div>
        <div class="father-password">
            <input type="{{ showPass }}" placeholder="Contraseña" formControlName="password" />
            <button *ngIf="showPass ==='password'" class="button-toggle" type="button" (click)="togglePassword()"><i class="fa-regular fa-eye"></i></button>
            <button *ngIf="showPass === 'text'" class="button-toggle" type="button" (click)="togglePassword()"><i class="fa-regular fa-eye-slash"></i></button>
            <p *ngIf="(subCorrect && loginForm?.get('password')?.hasError('required'))">El campo es requerido</p>
            <p *ngIf="(subCorrect && loginForm?.get('password')?.hasError('pattern'))">No tiene formato válido</p>
            <div *ngIf="loginError" class="login-error">
                <p>Usuario o contraseña incorrectos. Por favor, inténtalo de nuevo.</p>
            </div>
        </div>
        <button class="form-btn-log">Entrar</button>
        <button routerLink='/register' class="form-btn-reg">Registrarse</button>
    </form>
</div>