*{
    background-color: #DEFFE9;
}

.add{
  width: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-block: 30px;
  &-btn{
    width: 350px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #04AA6D;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 12px 14px;
    border-radius: 25px;
  }
  &-btn:hover{
    background-color: #038557;
  }
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 90%;
  margin-inline: auto;
  padding-bottom: 50px;
}

.fa-regular.fa-star {
    font-size: 20px;
  }
  
  .fa-solid.fa-star {
    font-size: 20px;
  }
  
  .red-star {
    color: #ff2424c9;
  }
  
  .green-star {
    color: #2c7044;
  }

.city{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: darkolivegreen;
}
.description{
    font-style: italic;
    font-size: 17px;
    margin-top: 16px;
}
.mt-5{
    color: black;
    font-size: 26px;
    margin-bottom: 16px;
}

.button{
    background-color: #04AA6D;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

.button:hover {
    background-color: #038557;
  }