.restaurant-box {
  background-color: #deffe9;
  min-height: 300px;
}

.titol {
  text-align: center;
  padding-top: 40px;
}
.titol h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto;
}

.add {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-block: 30px;
}
.add-btn {
  width: 350px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #04aa6d;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 12px 14px;
  border-radius: 25px;
}
.add-btn:hover {
  background-color: #038557;
}

h3 {
  margin: auto;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 90%;
  margin-inline: auto;
  padding-bottom: 50px;
}
.gallery-rest {
  opacity: 0;
  transition: 5s ease-in-out;
}

.stars {
  text-align: center;
}

.fa-regular.fa-star {
  font-size: 20px;
}

.fa-solid.fa-star {
  font-size: 20px;
}

.red-star {
  color: rgba(255, 36, 36, 0.7882352941);
}

.green-star {
  color: #2c7044;
}

.city {
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 0px 5px;
  padding-bottom: 3px;
  font-size: 14px;
  color: rgb(254, 254, 254);
  text-shadow: 2px 2px 19px rgb(0, 0, 0);
  width: 100%;
}
.city:hover {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.city p {
  margin: 2px 2px;
}

.description {
  font-style: italic;
  font-size: 17px;
  margin-top: 16px;
}

.mt-5 {
  color: black;
  font-size: 26px;
  margin-bottom: 16px;
}

.button-div {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #04aa6d;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.button:hover {
  background-color: #038557;
}

.favorite-text {
  padding-left: 20px;
  background-color: transparent;
}

.favorite-heart {
  background-color: transparent;
  font-size: 20px;
  font-weight: 900;
  transition: 6s ease-in-out;
  animation: rotate 15s linear infinite;
  color: red;
  position: absolute;
}

@keyframes rotate {
  0% {
    scale: 1;
    transform: translateY(5px);
  }
  4% {
    scale: 1.5;
  }
  10% {
    scale: 1;
  }
  20% {
    scale: 1.4;
  }
  30% {
    scale: 1;
  }
  60% {
    scale: 1.5;
  }
  90% {
    scale: 1;
    transform: translateY(-5px);
  }
  100% {
    scale: 1.5;
    transform: translateY(5px);
  }
}
.foods {
  text-align: center;
  background-color: #deffe9;
  margin: 0px;
  position: relative;
}
.foods .alergens span {
  color: rgb(255, 119, 0);
}
.foods h4 span {
  color: rgb(5, 98, 0);
  font-weight: 900px;
  font-size: 30px;
}
.foods h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.foods-btns1 {
  background-color: transparent;
  top: 60px;
  left: 0;
  position: absolute;
  margin: auto;
}
.foods-btns1 button {
  width: 300px;
  font-size: 150px;
  color: rgba(3, 133, 88, 0.086);
  background-color: transparent;
  border: none;
  padding-left: 34vw;
  padding-right: 15vw;
}
.foods-btns1 button:hover {
  color: rgba(3, 133, 88, 0.658);
}
.foods-btns2 {
  background-color: transparent;
  top: 60px;
  right: 0;
  position: absolute;
  margin: auto;
}
.foods-btns2 button {
  width: 300px;
  font-size: 150px;
  background-color: transparent;
  border: none;
  padding-right: 40vw;
  padding-left: 9vw;
  color: rgba(3, 133, 88, 0.086);
}
.foods-btns2 button:hover {
  color: rgba(3, 133, 88, 0.658);
}