<div class="restaurant-box">
    <!-- Con auth admin -->
    <div class="loader-div">
       <div *ngIf="loaded" class="lds-ripple"><div></div><div></div></div>
      </div>
      <div class="titol">
        <h1>Descubre, disfruta, comparte...</h1>
      </div>
  <div class="add">
        <button *ngIf="usuario?.admin" routerLink='/restaurants/add' class="add-btn">Añadir nuevo restaurante</button>   
  </div>


  <section class="foods">
    <h2>Nuestros platos estrella del mes</h2>
  <div class="carousel">
    <div class="car-slide" *ngFor="let food of foods; let i = index">
      <div class="slide-inner">
        <img  class="car-img" [src]="food.img" alt="{{ food.name }}" *ngIf="i === currentSlideIndex" class="car-img" />
      </div>
      <h4 class="car-caption" *ngIf="i === currentSlideIndex">{{ food.name }}  <span>{{food.price}} €</span> </h4>
      <h5 *ngIf="i === currentSlideIndex"> {{food.description}} </h5>
      <div class="preference" *ngIf="i === currentSlideIndex && food.dietaryPreferences?.length !== 0">Adecuado para:  <span>{{food.dietaryPreferences}}</span>s</div>
      <div class="alergens" *ngIf="i === currentSlideIndex && food.allergen?.length !== 0">Alérgenos:  <span>{{food.allergen}}</span></div>
    </div>
  </div>
  <div class="foods-btns1">
    <button (click)="showPreviousSlide()"><i class="fa-solid fa-chevron-left"></i></button>
  </div>
  <div class="foods-btns2">
    <button (click)="showNextSlide()"><i class="fa-solid fa-chevron-right"></i></button>
  </div>
</section>


  <div class="gallery">
    <div  [ngStyle]="{ width: '300px' }" *ngFor="let restaurant of restList">
      <h3 class="mt-5">{{ restaurant.name }} </h3>
      <div style="position: relative;">
        <img class="rest-img" routerLink='/comentarios/{{ restaurant.id }}/userComment' src="{{ restaurant.img }}" alt="{{ restaurant.name }}" width="300px" height="240" />
        <div class="city">
          <p><i class="fa-solid fa-map-location-dot"></i> {{ restaurant.address }} </p>
          <p> <i class="fa-solid fa-phone"></i> {{restaurant.phone}} </p>
          <p><i class="fa-regular fa-clock"></i>  {{restaurant.hours}} </p>
        </div>
        </div>
        <p class="description">{{ restaurant.description }}</p>
      <p *ngIf="restaurantAverages[restaurant.id]" class="stars">{{ restaurantAverages[restaurant.id] }}
        <ng-container *ngFor="let star of [].constructor(10); let i = index">
          <i class="fa-regular fa-star"[ngClass]="{ 'fa-solid': i < restaurantAverages[restaurant.id], 'red-star': restaurantAverages[restaurant.id] < 6, 'green-star': restaurantAverages[restaurant.id] >= 6 }"></i>
        </ng-container>
      </p>
      <p *ngIf="!restaurantAverages[restaurant.id]" class="stars"> No hay opiniones. ¡Sé el primero!</p>
      <div class="button-div">
        <button *ngIf="!isRestaurantFavorite(restaurant.id) && usuario.name" class="button" (click)="addToFavorites(restaurant.id)">Añadir a favoritos</button>
        <button *ngIf="isRestaurantFavorite(restaurant.id) && usuario.name" class="button favorite-button" (click)="deleteFromFavorites(restaurant.id)"><i class="fa-regular fa-heart favorite-heart"></i><i class="fa-regular fa-heart favorite-heart1"></i><i class="fa-regular fa-heart favorite-heart2"></i><i class="fa-regular fa-heart favorite-heart3"></i> <span class="favorite-text"> </span> </button>
        <div>
          <button *ngIf="usuario.admin" class="button" routerLink='/restaurants/{{ restaurant.id }}'>Gestionar</button>
          <button *ngIf="usuario.name && !usuario.admin && restaurant.comments.length >= 1" class="button" routerLink='/comentarios/{{ restaurant.id }}/userComment'>Ver {{restaurant.comments.length}} comentarios</button>
          <button *ngIf="usuario.name && !usuario.admin && restaurant.comments.length === 0" class="button" routerLink='/comentarios/{{ restaurant.id }}/userComment'>Sin comentarios</button>
        </div>
      </div>
    </div>
  </div>
</div>
