<!-- <section>
    <div class="scroll-text">
        <h3 class="scroll-text-bienvenido">Ponte en contacto con nosotros.</h3>
        <h3 class="scroll-text-disfruta">Gracias por formar parte del grupo Restaumanía.</h3>
    </div>
    <div class="scroll-text">
        <h3 class="scroll-text-gracias">Estamos en más de 30 países y tenemos más de 3000 restaurantes </h3>
    </div>
</section> -->
<div class="home-bg">
    <div class="home-bg-text">
        <h1>Locos por la gastronomía</h1>
        <h3>Explora, comparte y saborea. Desde los rincones más escondidos hasta los lugares más emblemáticos, nuestra plataforma te invita a descubrir diversos restaurantes a través de los ojos y los paladares de entusiastas como tú.</h3>
    </div>
</div>

