.info{
  text-align: center;
    background-color: #DEFFE9;
  h5{
    margin: 0px;
    span{
      font-size: 24px;
    }
  }
}

.text-danger {
  color: red;
}

.text-gold {
  color: goldenrod;
}

.commenter{
  display: flex;
  background-color: #DEFFE9;
  padding: 0px 330px;
  margin: 0px;
  &-points{
    
  }
  &-input{
  }
  &-comment{
      width: 100%;
  }
.btn-submit{
  padding-top: 15px;
  align-items: center;
  margin: auto;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid white;
  padding-bottom: 3px;
  padding-top:0px;
  margin-top:28px;
  transition: 0.5s ease-in-out;
  &:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

  }
}
}


.commentBox{
  padding: 10px 250px;
    background-color: #DEFFE9;
  &-ul{
    &-li{
      background-color: rgba(111, 87, 27, 0.079);
      border-radius: 5px;
      padding: 7px 10px;
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      h4{
        color: black;
        i{
          color: rgb(255, 215, 0);
          text-shadow: 1px 1px black;
          margin-right: 5px;
        }
      }
      h6{
        color: rgb(154, 153, 153);
      }
      p{
        color: black;
        font-size: 20px;
      width: 80%;
      }
    }
  }
}